<div class="container mt-3 pt-3">

  <div class="card col-12 col-sm-10 col-md-11 m-auto">
    <div class="card-body bg-light">
      <h4 class="mb-3 border-bottom border-1 pb-3 my-2">Recharger votre téléphone</h4>

      <form [formGroup]="rechargeForm" (ngSubmit)="openDialog(content)" class="bg-white p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/images/{{provider?.image}}" style="height:150px;" class="mx-auto d-block" alt="">
            <h4 class="text-center">{{provider?.name}}</h4>
          </div>

          <div class="col-md-8">
            <legend>Remplir les champs suivants :</legend>
            <div class="mb-3">
              <input type="tel" name="phone" formControlName="phoneNumber" class="form-control"
                placeholder="Numéro du téléphone.."
                [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" />
              <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['phoneNumber'].errors['required']">Entrer un numéro du téléphone</div>
                <div *ngIf="f['phoneNumber'].errors['pattern']">Entrer un numéro du téléphone valide</div>
              </div>
            </div>

            <div class="mb-3">
              <select formControlName="creancierCode" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f['creancierCode'].errors }">
                <option value="" disabled>Choisir le type</option>
                <option *ngFor="let type of provider?.rechargeTypes" [value]="type.code">{{type.name}}</option>
              </select>
              <div *ngIf="submitted && f['creancierCode'].errors" class="invalid-feedback">
                <div *ngIf="f['creancierCode'].errors['required']">Choisir le type</div>
              </div>
            </div>

            <div class="mb-3">
              <select formControlName="amount" class="form-select"
                [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }">

                <option value="" disabled>Choisir le montant</option>
                <option [ngValue]="'10'">10 DH</option>
                <option [ngValue]="'20'">20 DH</option>
                <option [ngValue]="'25'">25 DH</option>
                <option [ngValue]="'30'">30 DH</option>
                <option [ngValue]="'50'">50 DH</option>
                <option [ngValue]="'100'">100 DH</option>
                <option [ngValue]="'200'">200 DH</option>
                <option [ngValue]="'300'">300 DH</option>
              </select>
              <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
                <div *ngIf="f['amount'].errors['required']">Choisir le montant</div>
              </div>
            </div>

            <div class="form-group d-flex justify-content-end mt-3">
              <button [disabled]="loading" class="btn btn-primary ms-2">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Suivant
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Récapitulation</h4>
      <button type="button" class="btn-close " aria-label="Close" (click)="modal.dismiss('Cross click')">

      </button>
    </div>
    <div class="modal-body">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td class="title">N° de téléphone :</td>
            <td>{{phone}}</td>
          </tr>
          <tr>
            <td class="title">Le Type :</td>
            <td>{{creancierCode}}</td>
          </tr>
          <tr>
            <td class="title">Le Montant :</td>
            <td>{{amount}}</td>
          </tr>
          <tr>
            <td class="title">La date :</td>
            <td>{{date}}</td>
          </tr>


        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
      <button type="button" class="btn btn-outline-dark" (click)="openOTPDialog(otp)">Valider</button>
    </div>
  </ng-template>


  <ng-template #otp let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Code de confirmation</h4>
      <button type="button" class="btn-close " aria-label="Close" (click)="modal.dismiss('Cross click')">

      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="otpForm" class="bg-white p-3">
        <div class="row">
          <div class="col-md-12">
            <div class="">
              <input type="text" name="otp" formControlName="otp" class="form-control"
                placeholder="Code de confirmation.." (onkeydown)="otpError = false"
                [ngClass]="{ 'is-invalid': submitted1  && (otpError || o['otp'].errors) }" />
              <div *ngIf="submitted1  && (otpError || o['otp'].errors)" class="invalid-feedback">
                <div *ngIf="submitted1  && (otpError || o['otp'].errors)">Code invalide
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
      <button type="button" class="btn btn-outline-dark" (click)="verifyOTP()">Valider</button>
    </div>
  </ng-template>
