<div class="container mt-3 pt-3">

  <div class="card col-12 col-sm-10 col-md-11 m-auto">
    <div class="card-body bg-light">
      <h4 class="mb-3 my-2">Recharger votre téléphone</h4>
      <hr />
      <div class="row bg-light">

        <div class="col-md-4" style="display: flex; flex-direction: column;">
          <img src="{{provider?.image}}" style="height:150px;  align-self: center;" alt="">
          <h4 style=" align-self: center;">{{provider?.name}}</h4>
        </div>

        <div class="col-md-8">
          
            <legend>Remplir les champs suivants :</legend>

            <div class="mb-3">
              <input  
              onlyNumbers
              type="phone" 
              name="phone"
              id="phone" 
              class="form-control" 
              (ngModelChange)="setPhone($event)"
              placeholder="Numero du telephone..">
            </div>

            <div class="mb-3">
              <select id="type" class="form-select"  (ngModelChange)="setType($event)">
                <option>NORMALE</option>
                <option>SMS *1</option>
                <option>TOUT COMPRIS *2</option>
                <option>INTERNET *3</option>
                <option>RESEAUX SOCIAUX *6</option>
              </select>
            </div>

            <div class="mb-3">
              <select id="amount" class="form-select" (ngModelChange)="setAmount($event)">
                <option>10</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
                <option>300</option>
              </select>
            </div>
          
          <button class="btn btn-primary" (click)="open(content)">Suivant</button>
        </div>
      </div>
    </div>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Récapitulation</h4>
      <button type="button" class="close " aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td class="title">N° de téléphone :</td>
            <td>{{phone}}</td>
          </tr>
          <tr>
            <td class="title">Le Type :</td>
            <td>{{type}}</td>
          </tr>
          <tr>
            <td class="title">Le Montant :</td>
            <td>{{amount}}</td>
          </tr>
          <tr>
            <td class="title">La date :</td>
            <td>{{date}}</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Valider</button>
    </div>
  </ng-template>