<select class="form-select my-3" aria-label="Categorie">
  <option selected>Tous les categories</option>
  <option value="facture">Facture</option>
  <option value="recharge">Recharge</option>
  <option value="donation">Donation</option>
</select>

<div class="row row-cols-1 row-cols-md-2 g-3">
  <div *ngFor="let provider of providers" class="col">
    <div class="card mb-2 col">
      <div class="row g-0">
        <div class="col-md-4 m-auto">
          <img src={{provider.image}} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{provider.name}}</h5>
            <span class="d-block" *ngFor="let product of provider.products"><b>&gt;</b>{{product}}</span>
            <a [routerLink]="[provider.category,provider.surname]" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>







</div>
