
<div class="accordion mt-3" id="accordionPanelsStayOpenExample">

    <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="MarocTelecomG4672">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#TelecomeG4672" aria-expanded="false"
                aria-controls="TelecomeG4672">                    
                <div class="d-flex w-100 align-items-center justify-content-between me-5">
                    <div>
                        <img src={{MarocTLC_URL}} height="70px" class="rounded-start" alt="...">
                        &nbsp; <b> Maroc Telecome </b> &nbsp;
                        <span> (23-04-2022) </span>
                    </div>
                    <div>
                            <b>249 dh</b>
                    </div>                  
                </div>   
            </button>
        </h2>
        <div id="TelecomeG4672" class="accordion-collapse collapse "
            aria-labelledby="MarocTelecomG4672">
            <div class="accordion-body">
              Ref : G4672
            </div>
        </div>
    </div>
    <div class="accordion-item mb-2">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseOne">
                <div class="d-flex w-100 align-items-center justify-content-between me-5">
                    <div>
                        <img src={{MarocTLC_URL}} height="70px" class="rounded-start" alt="...">
                        &nbsp; <b> Maroc Telecome </b> &nbsp;
                        <span> (23-04-2022) </span>
                    </div>
                    <div>
                        <b>249 dh</b>
                    </div>
                </div>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse "
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                Ref : G4672
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <div class="d-flex w-100 align-items-center justify-content-between me-5">
                    <div>
                        <img src={{Inwi_URL}} height="70px" class="rounded-start" alt="...">
                        &nbsp; <b> INWI </b> &nbsp;
                        <span> (02-05-2022) </span>
                    </div>
                    <div>
                        <b>249 dh</b>
                    </div>
                </div>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    
</div>






