<div class="accordion mt-3" id="accordionPanelsStayOpenExample">

  <div class="accordion-item mb-2" *ngFor="let history of histories">
    <h2 class="accordion-header" [id]="[history.code]">
      <button class="accordion-button collapsed text-secondary" type="button" data-bs-toggle="collapse"
        [attr.data-bs-target]="'#h'+history.code" aria-expanded="false" [attr.aria-controls]="'h'+history.code!">
        <div class="d-flex w-100 align-items-center justify-content-between me-5">
          <div>
            <img src={{history.provider?.image}} height="70px" class="rounded-start" alt="...">
            &nbsp; <b> {{history.provider?.name}} </b> &nbsp;
            <span> ({{history.dueDate}}) </span>
          </div>
          <div>
            <b>{{history.amount}} dh</b>
          </div>
        </div>
      </button>
    </h2>
    <div [id]="'h'+history.code!" class="accordion-collapse collapse " attr.aria-labelledby="{{history.code}}">
      <div class="accordion-body">
        Ref : {{history.code}}
      </div>
    </div>
  </div>


</div>
