<header>
  <div class="view "
    style="background: url('../../assets/images/bg_bank-100.jpg') ; background-repeat: no-repeat; background-size: cover; background-position: center center; height:500px">
    <div class="mask rgba-gradient align-items-center">
      <h1>EnsaPay La banque des jeunes</h1>
    </div>
  </div>
</header>

<main class="home">
  <div class="container  ">
    <div class="row row-cols-1 row-cols-md-3 g-4 pt-3">
      <div class="col mb-4">
        <div class="card pt-3 pb-2 px-2 text-center h-100">

          <img src="./../../assets/images/piggy-bank.png" style="width: 5rem;" class="card-img-top m-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Opérations</h5>
            <p class="card-text">Payer vos factures en ligne et effectuer d'autre opérations</p>
          </div>
          <a [routerLink]="['/account/operations']" class="stretched-link"></a>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card pt-3 px-2 text-center h-100 ">

          <img src="./../../assets/images/checked.png" style="width: 5rem;" class="card-img-top m-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Actualités</h5>
            <p class="card-text">Trouver les nouvelles et spéciales offres </p>

          </div>

        </div>
      </div>

      <div class="col mb-4">
        <div class="card pt-3 px-2 text-center h-100">

          <img src="./../../assets/images/briefcase.png" style="width: 5rem;" class="card-img-top m-auto" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mon Compte</h5>
            <p class="card-text">Accéder à tous les informations liées à votre compte</p>
            <a [routerLink]="['/account']" class="stretched-link"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
